
@{
    Layout = "~/Views/Headers/UserHeader/UserHeader.cshtml";
    ViewBag.Title = "Home";
}



    <!-- Bootstrap core CSS -->
    <!-- Custom fonts for this template -->
    @*@Styles.Render(Url.Content("~/Content/UserCSS/User/UserHomePage/bootstrap.min.css"))*@
    @*@Styles.Render(Url.Content("~/Content/UserCSS/User/UserHomePage/font-awesome.min.css"))*@
    @*<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">


    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>*@


    <!-- Custom styles for this template -->

    @*@Styles.Render(Url.Content("~/Content/UserCSS/User/UserHomePage/grayscale.css"))
    @Styles.Render(Url.Content("~/Content/UserCSS/User/UserHomePage/CustomCSS.css"))*@
    





    <!-- Navigation -->
    

    <!-- Intro Header -->


    <header class="masthead">


        <div class="intro-body">


            <div class="container">


                <div class="row" style="margin:auto;">

                    <!--- <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 eventtype row np-padding col-centered"> --->
                    <a href="http://www.google.com" class="no-padding col-centered" style="margin:0px auto;">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 no-padding col-centered">
                            <div class="ven-type"> <img style="width:100px;height:auto;" src="@Url.Content("~/Content/Images/User/image.png")" /> </div>
                            
                        </div><div class="ven-type-title">Business Meetings</div>
                    </a>
                    <a href="http://www.google.com" class="no-padding col-centered" style="margin:auto;">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 no-padding col-centered">
                            <div class="ven-type"> <img style="width:100px;height:auto;" src="@Url.Content("~/Content/Images/User/image.png")" /> </div>
                            
                        </div><div class="ven-type-title">Concerts/Parties</div>
                    </a>
                    <a href="http://www.google.com" class="no-padding col-centered" style="margin:auto;">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 no-padding col-centered">
                            <div class="ven-type"> <img style="width:100px;height:auto;" src="@Url.Content("~/Content/Images/User/image.png")" /> </div>
                            
                        </div><div class="ven-type-title">Picnics & Gatherings</div>
                    </a>
                    <a href="http://www.google.com" class="no-padding col-centered" style="margin:auto;">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 no-padding col-centered">
                            <div class="ven-type"> <img style="width:100px;height:auto;" src="@Url.Content("~/Content/Images/User/image.png")" /> </div>
                            
                        </div><div class="ven-type-title">Wedding</div>
                    </a>

                    <!--- <div>  --->
                </div>
            </div>
        </div>
    </header>





    <footer>


        <div class="container text-center">


            <p>Copyright &copy; OnClick Events 2017</p>

        </div>
    </footer>


    <!-- Bootstrap core JavaScript -->

    
    
   
